@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "AAD Auth (Authentication/Authorization)";

    var appSettings = System.Configuration.ConfigurationManager.AppSettings;
    var backgroundColor = appSettings["background"] == null ? "#000000" : appSettings["background"];
    //new line second test

    string apiPrefix = "/.auth";
}

@using System.Security.Claims
@using System.Threading
@using System.Web.Configuration

<h1>Authentication and Authorization Demo (Easy-Auth)</h1>
<div class="container">

    <br /><br />
    <div style="font-family:Arial; background: @backgroundColor; color:white;">
        @{
            var claimsPrincipal = Thread.CurrentPrincipal as ClaimsPrincipal;
            if (claimsPrincipal != null && claimsPrincipal.Identity.IsAuthenticated)
            {
                <h2 style="color:green">AAD Authentication Succeeded!</h2>
                <div><span><strong>Principal Name:</strong><br />@claimsPrincipal.Identity.Name</span></div>
                <div><span><a href="@string.Concat(apiPrefix, "/login/logout")">Logout</a></span></div>
                <br />
                <div><span><strong>x-ms-client-principal-name:</strong><br />@Request.Headers["X-MS-CLIENT-PRINCIPAL-NAME"]</span></div>
                <br />
                <div><strong>Raw Claims</strong></div>
                <table border="1">
                    <tbody>
                        @foreach (var claim in claimsPrincipal.Claims)
                        {
                            <tr>
                                <td>@claim.Type</td>
                                <td>@claim.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <div><stong>Available Tokens</stong></div>
                <table border="1" id="tokenTable">
                    <tbody>

                    </tbody>
                </table>
            }
            else
            {
                <div style="color:red">Current request is unauthenticated!</div>
                <div>
                    <a href="@string.Concat(apiPrefix, "/login/aad")">Sign-in with Azure AD</a>
                </div>
                <div>
                    <a href="@string.Concat(apiPrefix, "/login/facebook")">Sign-in with Facebook</a>
                </div>
                <div>
                    <a href="@string.Concat(apiPrefix, "/login/twitter")">Sign-in with Twitter</a>
                </div>
                <div>
                    <a href="@string.Concat(apiPrefix, "/login/microsoftaccount")">Sign-in with Microsoft Account</a>
                </div>
                <div>
                    <a href="@string.Concat(apiPrefix, "/login/google")">Sign-in with Google</a>
                </div>
            }
        }


        <br />
        <div>
            <div><strong>Raw HTTP Headers</strong></div>
            <table border="1">

                <tbody>
                    @{
                        foreach (string header in this.Request.Headers)
                        {
                            <tr>
                                <td>@header</td>
                                <td>@this.Request.Headers[header]</td>
                            </tr>
                        }
                    }


                </tbody>

            </table>

        </div>

    </div>

</div>
<script>
    var tokenTableBody = $('#tokenTable tbody');
    var currentUserApiPath = "@{
        string path;
        path = apiPrefix + "/me";

        @path;
    }";

    $.getJSON(currentUserApiPath, function(data) {
        $.each(data, function(key, val) {
            tokenTableBody.append('<tr><td>' + key + '</td><td>' + JSON.stringify(val) + '</td></tr>');
        });
    });
</script>
